<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" th:fragment="nav">
    <nav class="navbar navbar-light bg-primary" id="navbar">
        <h1 class="navbar-brand mb-0">Darci Tiny Weather Dashboard API</h1>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" th:fragment="sidenav">
            <ul class="nav nav-pills nav-stacked">
                <li class=""><a href="/post">POST</a></li>
                <li class=""><a href="#">ADD</a></li>
                <li class=""><a href="#">UPDATE</a></li>
                <li class=""><a href="#">DELETE</a></li>

            </ul>
        </div>

    </div>
</div>

</body>
</html>