body {
    background: ghostwhite;
    color: #373737;

}
#navbar {
    background-color: #373737;
    color: #f4f4f4;
}
.widget {
    width: 200px;
    height: 250px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

pre {
    /* background-color: rgb(48, 36, 41); */
    font-family: Courier New, Courier, monospace;
    font-size: small;
    color: #c12e2a;
}


.col-md-10 {
    text-align: center;
}

/* sidenav styles *************/
body {
    padding-top: 20px;
    background-color: rgb(127, 151, 151);
}

li {
    background-color: bisque;
    border-radius: 5px;
}
li a {
    color: black;
    font-family: Courier New, Courier, monospace;
    font-size: 2.5em;
    text-align: center;
}
.nav>li>a:hover {
    background-color: tomato;
}
.results>p {
    color: tomato;
    font-family: Courier New, Courier, monospace;
    font-size: 1.2em;
}
#output-all {
    color: tomato;
    font-family: Courier New, Courier, monospace;
    font-size: 1.5em;
}